<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleAccentColor</key>
	<integer>4</integer>
	<key>AppleAquaColorVariant</key>
	<integer>1</integer>
	<key>AppleEnableMouseSwipeNavigateWithScrolls</key>
	<true/>
	<key>AppleHighlightColor</key>
	<string>0.698039 0.843137 1.000000 Blue</string>
	<key>AppleInterfaceStyle</key>
	<string>Dark</string>
	<key>AppleKeyboardUIMode</key>
	<integer>0</integer>
	<key>AppleMenuBarVisibleInFullscreen</key>
	<true/>
	<key>AppleShowAllExtensions</key>
	<true/>
	<key>AppleShowScrollBars</key>
	<string>Always</string>
	<key>AppleTemperatureUnit</key>
	<string>Celsius</string>
	<key>AppleWindowTabbingMode</key>
	<string>always</string>
	<key>ContextMenuGesture</key>
	<integer>1</integer>
	<key>DSDontWriteNetworkStores</key>
	<true/>
	<key>InitialKeyRepeat</key>
	<integer>35</integer>
	<key>KB_DoubleQuoteOption</key>
	<string>“abc”</string>
	<key>KB_SingleQuoteOption</key>
	<string>‘abc’</string>
	<key>KB_SpellingLanguage</key>
	<dict>
		<key>KB_SpellingLanguageIsAutomatic</key>
		<true/>
	</dict>
	<key>KeyRepeat</key>
	<integer>2</integer>
	<key>NSAutomaticDashSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticQuoteSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticSpellingCorrectionEnabled</key>
	<false/>
	<key>NSAutomaticTextCompletionEnabled</key>
	<false/>
	<key>NSCloseAlwaysConfirmsChanges</key>
	<true/>
	<key>NSDocumentSaveNewDocumentsToCloud</key>
	<false/>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSNavPanelExpandedStateForSaveMode2</key>
	<true/>
	<key>NSNavPanelFileLastListModeForOpenModeKey</key>
	<integer>2</integer>
	<key>NSNavPanelFileLastListModeForSaveModeKey</key>
	<integer>2</integer>
	<key>NSNavPanelFileListModeForOpenMode2</key>
	<integer>2</integer>
	<key>NSNavPanelFileListModeForSaveMode2</key>
	<integer>2</integer>
	<key>NSUserDictionaryReplacementItems</key>
	<array>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>^3</string>
			<key>with</key>
			<string>³</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>^2</string>
			<key>with</key>
			<string>²</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>omw</string>
			<key>with</key>
			<string>On my way!</string>
		</dict>
	</array>
	<key>NavPanelFileListModeForOpenMode</key>
	<integer>2</integer>
	<key>NavPanelFileListModeForSaveMode</key>
	<integer>2</integer>
	<key>SettingsIndex</key>
	<array>
		<string>AppleAccentColor</string>
		<string>AppleAquaColorVariant</string>
		<string>AppleEnableMouseSwipeNavigateWithScrolls</string>
		<string>AppleHighlightColor</string>
		<string>AppleInterfaceStyle</string>
		<string>AppleKeyboardUIMode</string>
		<string>AppleMenuBarVisibleInFullscreen</string>
		<string>AppleShowAllExtensions</string>
		<string>AppleShowScrollBars</string>
		<string>AppleTemperatureUnit</string>
		<string>AppleWindowTabbingMode</string>
		<string>ContextMenuGesture</string>
		<string>DSDontWriteNetworkStores</string>
		<string>InitialKeyRepeat</string>
		<string>KB_DoubleQuoteOption</string>
		<string>KB_SingleQuoteOption</string>
		<string>KB_SpellingLanguage</string>
		<string>KeyRepeat</string>
		<string>NSAutomaticDashSubstitutionEnabled</string>
		<string>NSAutomaticQuoteSubstitutionEnabled</string>
		<string>NSAutomaticSpellingCorrectionEnabled</string>
		<string>NSAutomaticTextCompletionEnabled</string>
		<string>NSCloseAlwaysConfirmsChanges</string>
		<string>NSDocumentSaveNewDocumentsToCloud</string>
		<string>NSNavPanelExpandedStateForSaveMode</string>
		<string>NSNavPanelExpandedStateForSaveMode2</string>
		<string>NSNavPanelFileLastListModeForOpenModeKey</string>
		<string>NSNavPanelFileLastListModeForSaveModeKey</string>
		<string>NSNavPanelFileListModeForOpenMode2</string>
		<string>NSNavPanelFileListModeForSaveMode2</string>
		<string>NSUserDictionaryReplacementItems</string>
		<string>NavPanelFileListModeForOpenMode</string>
		<string>NavPanelFileListModeForSaveMode</string>
		<string>WebAutomaticSpellingCorrectionEnabled</string>
		<string>com.apple.mouse.scaling</string>
		<string>com.apple.sound.beep.feedback</string>
		<string>com.apple.swipescrolldirection</string>
	</array>
	<key>WebAutomaticSpellingCorrectionEnabled</key>
	<false/>
	<key>com.apple.mouse.scaling</key>
	<real>3</real>
	<key>com.apple.sound.beep.feedback</key>
	<integer>0</integer>
	<key>com.apple.swipescrolldirection</key>
	<true/>
</dict>
</plist>
